<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body bgcolor="#F5ECCE">
<#include "header/navigation.ftlh">
<#--<#if role == 'ADMIN'>-->
<#--    <#include "header/navigation_admin.ftlh">-->
<#--</#if>-->
<#--<#if role == 'USER'>-->
<#--    <#include "header/navigation_user.ftlh">-->
<#--</#if>-->
<h3>${user.login} - ${user.role}</h3>
<h3>${user.firstName} ${user.lastName}</h3>
</body>
</html>